workflows/12IdNZEx46KHoySV.json
{
  "createdAt": "2024-08-05T15:42:45.331Z",
  "updatedAt": "2024-08-12T14:38:48.000Z",
  "id": "12IdNZEx46KHoySV",
  "name": "Annual invoice split direct",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1ab98cdb-90ad-41c7-b769-93ed3a3b63ff",
              "leftValue": "={{ $json.name }}",
              "rightValue": "_GS-",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "006c1b03-178d-4eea-a25f-72a410eceb50",
              "leftValue": "={{ $json.name }}",
              "rightValue": "_RE-",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "d5cdd00a-b33b-4787-87f9-43cdfd94abe4",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -12060,
        660
      ]
    },
    {
      "parameters": {},
      "id": "62da6368-e1d7-4c1c-b59d-2ea0cfd72216",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -12500,
        660
      ]
    },
    {
      "parameters": {},
      "id": "9dade018-8d10-4ab5-a5e7-6023df6618eb",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -10600,
        800
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "78f409f7-2115-45a3-bdb5-9dc2f587b599",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -10980,
        520
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "238e1194-ce43-4c9e-b57e-e72d26a4d209",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -11280,
        520
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1rNkINqRbbfS8A6wfLE1jc9JTq5t5miBC",
          "mode": "list",
          "cachedResultName": "Invalid",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rNkINqRbbfS8A6wfLE1jc9JTq5t5miBC"
        }
      },
      "id": "71b892bd-2403-4185-b694-123f32618557",
      "name": "Move invalid file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -11780,
        820
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BVkiHtheS61uART6",
          "name": "Google christian.gick@clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "ab989a6c-3c29-4ec6-8e92-46869001f926",
      "name": "Download receipt",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -11780,
        500
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BVkiHtheS61uART6",
          "name": "Google christian.gick@clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*.pdf",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1--InOSXqwW1vm0z7D-HLHzAqy57ju2BX",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1--InOSXqwW1vm0z7D-HLHzAqy57ju2BX"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "id": "93371f45-9265-4a50-8de8-0d94d2de93a0",
      "name": "Find receipts in files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -12280,
        660
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BVkiHtheS61uART6",
          "name": "Google christian.gick@clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "aa57bf70-042c-47f2-a6e1-7b20575c9b9d",
      "name": "Extract text from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -11540,
        680
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Merge').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1rIblLgQnZDnmattulJGpHOW7oLwxNa5B",
          "mode": "list",
          "cachedResultName": "Done",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rIblLgQnZDnmattulJGpHOW7oLwxNa5B"
        }
      },
      "id": "59e65e4d-0ab0-4a12-80a4-1bbc6eaa1aad",
      "name": "Move receipt to done",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -10260,
        420
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BVkiHtheS61uART6",
          "name": "Google christian.gick@clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.Positionen",
        "options": {}
      },
      "id": "ed2c1603-732a-4d6c-9f7f-7542b785cb37",
      "name": "Split out positions",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -10260,
        660
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pvMisn__G4QvkcRX2oj7znz4S7WcXzxi6GJNihvr0lw",
          "mode": "list",
          "cachedResultName": "FIBU-665",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pvMisn__G4QvkcRX2oj7znz4S7WcXzxi6GJNihvr0lw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1619249675,
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pvMisn__G4QvkcRX2oj7znz4S7WcXzxi6GJNihvr0lw/edit#gid=1619249675"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Belegnummer",
              "displayName": "Belegnummer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bezeichnung der Position",
              "displayName": "Bezeichnung der Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Gesamtzeitraum",
              "displayName": "Gesamtzeitraum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Anteil Jahr",
              "displayName": "Anteil Jahr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Zeitraum",
              "displayName": "Zeitraum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Anzahl Tage",
              "displayName": "Anzahl Tage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Betrag pro Tag",
              "displayName": "Betrag pro Tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Anteil Nettobetrag",
              "displayName": "Anteil Nettobetrag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Anteil Bruttobetrag",
              "displayName": "Anteil Bruttobetrag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Anteil Enthaltene Umsatzsteuer",
              "displayName": "Anteil Enthaltene Umsatzsteuer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "handlingExtraData": "insertInNewColumn",
          "useAppend": true
        }
      },
      "id": "fdd0389d-e0e6-4eb4-a65b-1d7204e040cd",
      "name": "Write position to sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -10020,
        820
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FsAH6WckeSIuyyxJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Du hast alle Dokumente mit einer einzigartigen Belegnummer in der Datenbank. \nDer Gesamtbetrag pro Belegposition aller Belege soll nach Leistungszeitraum abgegrenzt werden, sodass der jeweilige Anteil der Bilanz eines Geschäftsjahres zugeordnet werden kann.\n\nAnweisungen zur korrekten Aufteilung:\n\nExtrahiere alle Positionen des Belegs und ignoriere alle Informationen ab der Zwischensumme.\nStelle folgende Berechnungen für jede Position an:\n\n1. Bestimme den Gesamtzeitraum der Position anhand von Start- und Enddatum oder anhand des Rechnungsdatums + Anzahl der Jahre im Beschreibungstext der Position. \n\n2. Bestimme die Anzahl der Tage im Gesamtzeitraum. \n\n3. Teile den Gesamtbetrag der Position durch die Anzahl der Tage im Gesamtzeitraum um den Betrag pro Tag zu errechnen.\n\n4. Bestimme den anteiligen Nettobetrag für jedes Jahr, indem du den Betrag pro Tag mit der Anzahl der Tage pro Jahr multiplizierst. \n\n4a. Der erste und der letzte Tag müssen mitgezählt werden. Berücksichtige dabei, dass die Berechnung für Jahre, die teilweise im Gesamtzeitraum liegen, separat durchgeführt werden muss. \n\n4b: Achte darauf, dass die Summe der Anzahl der Tage im anteiligen Zeitraum für alle Jahre gleich der Anzahl der Tage im Gesamtzeitraum ist.\n\n---\n\nRegeln:\n\n1. Wenn das Enddatum des Gesamtzeitraums in einem anderen Jahr als das Startdatum liegt, müssen alle Beträge taggenau bis Jahresende berechnet werden. Der Rest des Betrags muss dann auf alle folgenden Jahre aufgeteilt werden, wobei die Anzahl der Tage im anteiligen Zeitraum so berechnet wird, dass die Summe aller anteiligen Tage die Anzahl der Tage im Gesamtzeitraum ergibt.\n\n1a. Kein Enddatum eines anteiligen Zeitraums darf nach dem Enddatum des Gesamtzeitraums liegen.\n\n2. Der anteilige Betrag pro Tag ist für alle Jahre gleich. \n\n3. Für jedes Jahr, das im Gesamtzeitraum liegt, soll eine eigene Position zurückgegeben werden, die den anteiligen Betrag für den Zeitraum, der auf dieses Jahr fällt, enthält. Dies gilt auch für Jahre, die nur teilweise im Gesamtzeitraum liegen.\n\n4. Die Berechnungen dürfen Nachkommastellen enthalten um Rundungsfehler zu vermeiden.\n\n5. Verwende das Datumsformat für einen Zeitraum: DD.MM.YYYY - DD.MM.YYYY\n\n6. Belege ohne Dateinamen dürfen niemals aufgeführt werden. \n\n7. Eine Position darf pro Jahr nur einmal aufgeführt werden. \n\n8. Enthält der Dateiname _GS- ist der Belegtyp eine Gutschrift. Enthält der Dateiname _RE- ist der Belegtyp eine Rechnung. \n\n9. Die Belegnummer besteht aus dem Präfix RE oder GS + exakt 6 Ganzzahlen und steht im Dateinamen. \n\n10. Die Summe der anteiligen Beträge muss den Gesamtbetrag der Position ergeben.\n\n11. Die Summe der Positionen muss den Gesamtbeitrag des Belegs ergeben.",
              "role": "system"
            },
            {
              "content": "=Die Datei \"{{ $('Merge').item.json.name }}\" enhält: \"{{ $('Merge').item.json.text }}\""
            },
            {
              "content": "Gib mir die Variable \"Positionen\" als Array mit folgenden Spalten zurück. Bei Belegtyp Gutschrift werden negative Beträge benötigt, vor der Rückgabe müssen also alle positiven Beträge mit -1 multipliziert werden: \n\nBelegtyp\nBelegnummer\nBezeichnung der Position\nNettobetrag Gesamtzeitraum\nGesamtzeitraum\nAnzahl Tage im Gesamtzeitraum\nBetrag pro Tag\nJahr\nAnteiliger Zeitraum\nAnzahl Tage im anteiligen Zeitraum\nNettobetrag im anteiligen Zeitraum\nRechenweg"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0
        }
      },
      "id": "14f36312-316a-488c-a66c-30ea8e7e604b",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -10680,
        660
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Download receipt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move invalid file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Find receipts in files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download receipt": {
      "main": [
        [
          {
            "node": "Extract text from PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find receipts in files": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from PDF": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split out positions": {
      "main": [
        [
          {
            "node": "Write position to sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write position to sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Split out positions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Move receipt to done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2024-08-08T14:57:33Z"
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9871ab1f-04d7-40c7-a17f-68add8150d15",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-08-12T09:03:37.211Z",
      "updatedAt": "2024-08-12T09:03:37.211Z",
      "id": "b81J6oT4S7R7CqXw",
      "name": "lexoffice"
    },
    {
      "createdAt": "2024-07-18T13:44:20.706Z",
      "updatedAt": "2024-07-18T13:44:20.706Z",
      "id": "wtXD0GeIgYeLUCv8",
      "name": "whmcs"
    }
  ]
}