workflows/2KIRbOQQcxJyzCr0.json
{
  "createdAt": "2024-07-18T14:21:50.063Z",
  "updatedAt": "2024-09-23T09:51:48.983Z",
  "id": "2KIRbOQQcxJyzCr0",
  "name": "Create zones for new Plesk domain",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://partner.http.net/api/dns/v1/json/zoneCreate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "authToken",
              "value": "2&WxcHvJYG$v8dcxHk2*RbR6F6UbCpxVmeW+rNuvz+%FuSs$"
            },
            {
              "name": "records",
              "value": "{{ [] }}"
            },
            {
              "name": "zoneConfig",
              "value": "={{ { \"type\": \"slave\", \"name\": $json.body.domain, \"masterIp\":  $json.body.ip } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b1a14e2-46db-4074-bfbe-e3cd36bb1040",
      "name": "Create zone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        360,
        180
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1318a525-92c1-48ed-920b-b9a516736fa1",
        "options": {}
      },
      "id": "0ece9fce-5e5c-45f5-813d-19b2deb42a8e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -340,
        320
      ],
      "webhookId": "1318a525-92c1-48ed-920b-b9a516736fa1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a6c4b4d2-1d07-4e45-b62e-9db377e37467",
              "leftValue": "={{ $json.body.domain }}",
              "rightValue": "clicksports.info",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e37bb17c-4c70-4bf7-bef9-acfd7b5cc7df",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        320
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create zone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oXwbRnZHgYHUkKj4"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1eab769e-845b-4ad5-b06c-478d6e5b9f3f",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-07-25T08:34:16.813Z",
      "updatedAt": "2024-07-25T08:34:16.813Z",
      "id": "KyoAwSAND1XbrO6u",
      "name": "domain"
    },
    {
      "createdAt": "2024-07-22T06:04:28.127Z",
      "updatedAt": "2024-07-22T06:04:28.127Z",
      "id": "oWKA5aGivbuhQgMf",
      "name": "plesk"
    }
  ]
}