workflows/7f5NRW9G4szmLXKz.json
{
  "createdAt": "2024-07-18T14:08:01.627Z",
  "updatedAt": "2024-08-13T08:54:18.000Z",
  "id": "7f5NRW9G4szmLXKz",
  "name": "Import WHMCS orders to Jira",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "d9944fa6-c2e2-4eb3-98f3-f3db7f3caa2e",
              "leftValue": "={{ $json.body['vars[orderid]'] }} ",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "6562ca5e-dd56-4da5-8bbd-ee4d8868f4bb",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -760,
        720
      ]
    },
    {
      "parameters": {
        "errorMessage": "No order found in webhook from WHMCS"
      },
      "id": "45944b52-d7bb-4513-9fe5-2067ede18478",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -500,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.clicksports.de/portal/includes/api.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "UpdateClientDomain"
            },
            {
              "name": "responsetype",
              "value": "json"
            },
            {
              "name": "domainid",
              "value": "={{ $json['orders.order[0].lineitems.lineitem'].relid }}"
            },
            {
              "name": "registrar",
              "value": "domainrobot"
            }
          ]
        },
        "options": {}
      },
      "id": "6fff8e9f-e320-411d-a5f7-59e794c2d83c",
      "name": "Set domain registrar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        440
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "aD4Z71wqUYZUL79C",
          "name": "WHMCS"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "={{ $('Set Jira Project ID').item.json.jiraProjectId }}",
          "mode": "id"
        },
        "issueType": {
          "__rl": true,
          "value": "10600",
          "mode": "list",
          "cachedResultName": "Epic"
        },
        "summary": "=Auftrag {{ $json.orders.order[0].ordernum }}",
        "additionalFields": {
          "description": "=https://www.clicksports.de/portal/admin/orders.php?action=view&id={{ $json.orders.order[0].id }}",
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "customfield_10303",
                  "mode": "list",
                  "cachedResultName": "Epic-Name"
                },
                "fieldValue": "=Auftrag {{ $json.orders.order[0].ordernum }}"
              }
            ]
          }
        }
      },
      "id": "c4e85cbf-c137-422d-bbe8-90efc269ff58",
      "name": "Create Epic",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -20,
        720
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "HlsaLdc6YFfeasWO",
          "name": "Jira christian.gick@clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.clicksports.de/portal/includes/api.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "GetOrders"
            },
            {
              "name": "identifier",
              "value": "4g7HgFCWTHCLdM6H063BSf4fnysdkNVr"
            },
            {
              "name": "secret",
              "value": "GyxPdvhCxDnFr6egS7ac9o2CNczruX3g"
            },
            {
              "name": "responsetype",
              "value": "json"
            },
            {
              "name": "id",
              "value": "={{ $json.body[\"vars[orderid]\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f73d60e6-552e-423f-a20e-773fe26834cf",
      "name": "GetOrders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -260,
        440
      ]
    },
    {
      "parameters": {},
      "id": "e60ce31a-0d70-48f1-b96e-25fc3dce2363",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1340,
        720
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "910e1237-ff0c-4450-b554-5570901968a8",
              "name": "body['vars[orderid]']",
              "value": "816",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2d18f807-db4f-4ec9-930e-41c97d28d2a8",
      "name": "Set order for manual import",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1060,
        720
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "1647cca3-9d55-4f57-8cf9-fff16b849324",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        200,
        580
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9951d15a-e6a3-4987-92e2-b80ab7427051",
                    "leftValue": "={{ $json[\"orders.order[0].lineitems.lineitem\"].producttype }}",
                    "rightValue": "Domain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Domain"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"orders.order[0].lineitems.lineitem\"].producttype }}",
                    "rightValue": "Domain",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Issue"
            }
          ]
        },
        "options": {}
      },
      "id": "1c214d14-fcc0-4977-90f4-882bdec84364",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        640,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://clicksports.atlassian.net/rest/api/3/issue",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"project\": {\n      \"id\": \"{{ $('Set Jira Project ID').item.json.jiraProjectId }}\"\n    }, \n    \"issuetype\": {\n        \"id\": \"13238\"\n    },\n    \"summary\": \"{{ $json[\"orders.order[0].lineitems.lineitem\"].product }} {{ $json[\"orders.order[0].lineitems.lineitem\"].domain }}\",\n    \"parent\": {\n      \"key\": \"{{ $json.key }}\"\n    }\n  }\n}            ",
        "options": {}
      },
      "id": "0faf48a0-594c-43f5-84df-bacdf0d12435",
      "name": "Create domain issue with parent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        260
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "HlsaLdc6YFfeasWO",
          "name": "Jira christian.gick@clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "orders.order[0].lineitems.lineitem",
        "include": "selectedOtherFields",
        "fieldsToInclude": "key",
        "options": {}
      },
      "id": "d2ccea26-c44e-47a0-bc74-aa130211dd91",
      "name": "Get items from order",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        420,
        580
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9770cfa-5da5-4baa-b4d7-d2e86670fa71",
              "name": "jiraProjectId",
              "value": "12700",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e66b8b7d-7159-41d7-8640-3f71556c2957",
      "name": "Set Jira Project ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -500,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://clicksports.atlassian.net/rest/api/3/issue",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"project\": {\n      \"id\": \"{{ $('Set Jira Project ID').item.json.jiraProjectId }}\"\n    }, \n    \"issuetype\": {\n        \"id\": \"12401\"\n    },\n    \"summary\": \"{{ $json[\"orders.order[0].lineitems.lineitem\"].product }}\",\n    \"parent\": {\n      \"key\": \"{{ $json.key }}\"\n    }\n  }\n}           ",
        "options": {}
      },
      "id": "b50f3ac9-e430-415c-9ba5-a2e3ad66fadf",
      "name": "Create issue with parent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        760
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "HlsaLdc6YFfeasWO",
          "name": "Jira christian.gick@clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "content": "## Fields to set\n* Ticket Status\n* Budget\n* Project Asset\n* Account"
      },
      "id": "5054c1ef-1988-4ba1-8997-ebf9c0b74052",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        700
      ]
    },
    {
      "parameters": {
        "content": "## Fields to set\n* Link to quote issue"
      },
      "id": "beee306f-b205-4d53-9e84-68679206982f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        880
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "72f85f11-7bfa-4eb1-ae5f-5208add31034",
        "options": {}
      },
      "id": "42e06801-1241-49e0-8e66-dae2032d1e3b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -940,
        480
      ],
      "webhookId": "72f85f11-7bfa-4eb1-ae5f-5208add31034"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Set Jira Project ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetOrders": {
      "main": [
        [
          {
            "node": "Create Epic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Epic": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set order for manual import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set order for manual import": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get items from order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set domain registrar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create domain issue with parent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create issue with parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get items from order": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Jira Project ID": {
      "main": [
        [
          {
            "node": "GetOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oXwbRnZHgYHUkKj4"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bb0ef70b-cb1b-4d0b-81dc-819d9ffaa733",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-07-18T13:44:20.706Z",
      "updatedAt": "2024-07-18T13:44:20.706Z",
      "id": "wtXD0GeIgYeLUCv8",
      "name": "whmcs"
    }
  ]
}