workflows/aN9drYUtOLOnn5E0.json
{
  "createdAt": "2024-08-02T11:54:52.386Z",
  "updatedAt": "2024-09-23T13:32:18.377Z",
  "id": "aN9drYUtOLOnn5E0",
  "name": "Backup n8n workflows",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker exec -u node n8n n8n export:workflow --backup --output /backup/docker/n8n/workflows"
      },
      "id": "23fd6913-e273-4171-b164-486cb8488a43",
      "name": "SSH",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        800,
        260
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "7cM8UD60RNSc7v3k",
          "name": "SSH Hcloud"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b31c9e7f-3bc7-42a6-b217-cb75c2157d1a",
              "name": "hostname",
              "value": "org-n8n.clicksports.de",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5c52a6a8-dee0-4f24-9b7d-08c6770a9aaf",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "6b7a48d7-c3b6-4ea2-9d61-b28d50b8380a",
              "leftValue": "={{ $json.code }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "29f84e35-9f9d-4307-a0c4-4961e86b34d0",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1020,
        260
      ]
    },
    {
      "parameters": {
        "errorMessage": "Could not backup"
      },
      "id": "3a247477-1375-49d1-8a27-db45c2c973ee",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1260,
        420
      ]
    },
    {
      "parameters": {
        "operation": "commit",
        "repositoryPath": "={{ $('Repo').first().json.path }}",
        "message": "Backup Workflows",
        "options": {}
      },
      "id": "8562bfb7-6288-47a1-82cb-d1655b2deb20",
      "name": "Git",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        2360,
        160
      ]
    },
    {
      "parameters": {
        "operation": "addConfig",
        "repositoryPath": "={{ $('Repo').first().json.path }}",
        "key": "user.email",
        "value": "christian.gick@clicksports.de",
        "options": {}
      },
      "id": "2c47d345-009a-4d2f-a5dc-6b997bbe442a",
      "name": "Git1",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1500,
        160
      ]
    },
    {
      "parameters": {
        "operation": "addConfig",
        "repositoryPath": "={{ $('Repo').first().json.path }}",
        "key": "user.name",
        "value": "Christian Gick N8N",
        "options": {}
      },
      "id": "af72b4e0-3317-4292-82bc-2aaa9728a9a6",
      "name": "Git3",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1700,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "gitPassword",
        "operation": "push",
        "repositoryPath": "={{ $('Repo').first().json.path }}",
        "options": {
          "targetRepository": "https://bitbucket.org/clicksports/n8n.git"
        }
      },
      "id": "cbd7d855-3b52-4f4d-8584-c516fca139a0",
      "name": "Git2",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        2580,
        160
      ],
      "credentials": {
        "gitPassword": {
          "id": "7VRqh6Zs1KAM9eND",
          "name": "Bitbucket"
        }
      }
    },
    {
      "parameters": {
        "operation": "add",
        "repositoryPath": "={{ $('Repo').first().json.path }}",
        "pathsToAdd": "={{ $('Repo').first().json.path }}"
      },
      "id": "e2097b27-6d14-42a9-9c13-8b802ab27f9b",
      "name": "Git4",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1940,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0138869e-4baa-49c2-b133-abe46c2d6660",
              "name": "path",
              "value": "/backup/docker/n8n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "43d5f014-cf0b-4008-9889-bd21f3d5cb68",
      "name": "Repo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "de9478ed-9645-4cd4-b34e-e6fa6a86d32e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        320,
        260
      ]
    },
    {
      "parameters": {
        "operation": "pull",
        "repositoryPath": "={{ $('Repo').first().json.path }}"
      },
      "id": "f115f567-875e-40bf-9ef8-f48b1212500b",
      "name": "Git Pull",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        2160,
        160
      ],
      "disabled": true
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Repo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git": {
      "main": [
        [
          {
            "node": "Git2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git1": {
      "main": [
        [
          {
            "node": "Git3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git3": {
      "main": [
        [
          {
            "node": "Git4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git4": {
      "main": [
        [
          {
            "node": "Git Pull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repo": {
      "main": [
        [
          {
            "node": "Git1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Pull": {
      "main": [
        [
          {
            "node": "Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oXwbRnZHgYHUkKj4"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "52056c0d-48cf-4a5d-b389-f90a7b683588",
  "triggerCount": 1,
  "tags": []
}