workflows/aN9drYUtOLOnn5E0.json
{
  "createdAt": "2024-08-02T11:54:52.386Z",
  "updatedAt": "2024-08-02T18:16:39.000Z",
  "id": "aN9drYUtOLOnn5E0",
  "name": "Backup n8n workflows",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "docker exec -u node n8n-n8n-1 n8n export:workflow --backup --output /backup/docker/n8n/workflows"
      },
      "id": "23fd6913-e273-4171-b164-486cb8488a43",
      "name": "SSH",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        800,
        260
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "7cM8UD60RNSc7v3k",
          "name": "SSH Hcloud"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b31c9e7f-3bc7-42a6-b217-cb75c2157d1a",
              "name": "hostname",
              "value": "org-n8n.clicksports.de",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5c52a6a8-dee0-4f24-9b7d-08c6770a9aaf",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "6b7a48d7-c3b6-4ea2-9d61-b28d50b8380a",
              "leftValue": "={{ $json.code }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "29f84e35-9f9d-4307-a0c4-4961e86b34d0",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1020,
        260
      ]
    },
    {
      "parameters": {
        "errorMessage": "Could not backup"
      },
      "id": "3a247477-1375-49d1-8a27-db45c2c973ee",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1260,
        420
      ]
    },
    {
      "parameters": {
        "operation": "commit",
        "repositoryPath": "/backup/docker/n8n/workflows",
        "message": "Backup Workflows",
        "options": {}
      },
      "id": "8562bfb7-6288-47a1-82cb-d1655b2deb20",
      "name": "Git",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        2200,
        160
      ]
    },
    {
      "parameters": {
        "operation": "addConfig",
        "repositoryPath": "/backup/docker/n8n/workflows",
        "key": "user.email",
        "value": "christian.gick@clicksports.de",
        "options": {}
      },
      "id": "2c47d345-009a-4d2f-a5dc-6b997bbe442a",
      "name": "Git1",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1460,
        160
      ]
    },
    {
      "parameters": {
        "operation": "addConfig",
        "repositoryPath": "/backup/docker/n8n/workflows",
        "key": "user.name",
        "value": "Christian Gick N8N",
        "options": {}
      },
      "id": "af72b4e0-3317-4292-82bc-2aaa9728a9a6",
      "name": "Git3",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1680,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0138869e-4baa-49c2-b133-abe46c2d6660",
              "name": "repo",
              "value": "/backup/docker/n8n/workflows",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "43d5f014-cf0b-4008-9889-bd21f3d5cb68",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "gitPassword",
        "operation": "push",
        "repositoryPath": "/backup/docker/n8n/workflows",
        "options": {
          "targetRepository": "https://bitbucket.org/clicksports/n8n.git"
        }
      },
      "id": "cbd7d855-3b52-4f4d-8584-c516fca139a0",
      "name": "Git2",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        2440,
        160
      ],
      "credentials": {
        "gitPassword": {
          "id": "7VRqh6Zs1KAM9eND",
          "name": "Bitbucket"
        }
      }
    },
    {
      "parameters": {
        "operation": "add",
        "repositoryPath": "/backup/docker/n8n/workflows",
        "pathsToAdd": "/backup/docker/n8n/workflows"
      },
      "id": "e2097b27-6d14-42a9-9c13-8b802ab27f9b",
      "name": "Git4",
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1900,
        160
      ]
    },
    {
      "parameters": {},
      "id": "6542e561-5db3-4dcf-9ee0-d1809d981613",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        300,
        260
      ]
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git": {
      "main": [
        [
          {
            "node": "Git2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git1": {
      "main": [
        [
          {
            "node": "Git3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git3": {
      "main": [
        [
          {
            "node": "Git4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Git1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git4": {
      "main": [
        [
          {
            "node": "Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b5dbf9ab-3187-4650-8226-ccd7a1a4c05a",
  "triggerCount": 0,
  "tags": []
}