workflows/ChZSuDnXj7ofvvuC.json
{
  "createdAt": "2024-09-07T17:49:13.772Z",
  "updatedAt": "2024-09-11T06:53:41.000Z",
  "id": "ChZSuDnXj7ofvvuC",
  "name": "Deploy SSL certificate to Plesk",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://my.gogetssl.com/api/auth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "ssl@clicksports.de"
            },
            {
              "name": "pass",
              "value": "4e11675a327aad6831703c82fdf01bea"
            }
          ]
        },
        "options": {}
      },
      "id": "22d9bc90-c982-4f1c-8f79-599cb8dba0a5",
      "name": "Authentication",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -3220,
        720
      ],
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "c1c06fa4-d0f4-488e-ab56-4ad25a4dcb76",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3500,
        620
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "crt_code",
        "options": {
          "fileName": "={{ $json.domain }}.crt"
        }
      },
      "id": "e996afcb-6942-45ad-b125-6a07428a8a52",
      "name": "crt",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2980,
        940
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63c9fec5-e419-482d-a6c4-7356fea0ef0d",
              "name": "hostname",
              "value": "shared4.clicksports.de",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "01484366-12de-45f8-8107-b4c960293fc7",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2980,
        720
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "ca_code",
        "options": {
          "fileName": "={{ $json.domain }}.ca"
        }
      },
      "id": "44c2a991-a338-4be0-904a-5ae31d885f13",
      "name": "ca",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2980,
        1180
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "6be23fa6-48d2-4a3c-aa9c-e7c4b6acf09e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2740,
        940
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "6eec8ff8-ca3f-4768-ba2d-27f28f2f336a",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2300,
        740
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "resource": "file",
        "path": "=/tmp",
        "options": {}
      },
      "id": "2199a2c8-0d17-4ee3-9ed6-2019b8c19c4b",
      "name": "Upload cert",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -2540,
        940
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "7cM8UD60RNSc7v3k",
          "name": "SSH Hcloud"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=plesk bin certificate --update {{ $json.domain }} -domain {{ $json.domain }} -cert-file /tmp/{{ $json.domain }}.crt -cacert-file /tmp/{{ $json.domain }}.ca",
        "cwd": "/tmp"
      },
      "id": "86cd83ce-ccf0-4071-894c-ba65b9575645",
      "name": "Cert2Plesk",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -2080,
        740
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "7cM8UD60RNSc7v3k",
          "name": "SSH Hcloud"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Jira über Status -> WHMCS -> Deployment"
      },
      "id": "f48854c3-8276-40ba-b682-76ad649ce7bb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2520,
        1220
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "approver_method.https.content",
        "options": {
          "fileName": "={{ $json.approver_method.https.filename }}"
        }
      },
      "id": "986a44a3-7617-4343-9192-2c61930b1a15",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2980,
        460
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "2f13b759-d10c-46b3-8ca6-52479582ca1c",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -3500,
        880
      ]
    }
  ],
  "connections": {
    "Authentication": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Authentication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crt": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ca": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload cert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Cert2Plesk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload cert": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Authentication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oXwbRnZHgYHUkKj4",
    "timezone": "Europe/Berlin",
    "saveDataSuccessExecution": "all"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "52848633-6d70-4fb1-8411-bee11add1194",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-07-18T13:44:20.701Z",
      "updatedAt": "2024-07-18T13:44:20.701Z",
      "id": "eg0pjrYy9dLUUASF",
      "name": "ssl"
    }
  ]
}