workflows/CnpmVbQ8Povk0dW5.json
{
  "createdAt": "2024-08-16T12:40:57.309Z",
  "updatedAt": "2024-08-16T12:44:09.000Z",
  "id": "CnpmVbQ8Povk0dW5",
  "name": "eToro Chat",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "contextWindowLength": 500
      },
      "id": "9501d3d7-efd3-4823-b324-5d902d4ad288",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        1580,
        780
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "80f6d475-af77-43c2-9ec6-21bc3dc1d83a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1960,
        780
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 500
      },
      "id": "bd6a4452-9e03-4fb5-b013-83cf1108de9b",
      "name": "Window Buffer Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        2160,
        780
      ]
    },
    {
      "parameters": {
        "public": true,
        "authentication": "n8nUserAuth",
        "initialMessages": "eToro Chat stets zu Diensten! 👋\n",
        "options": {
          "loadPreviousSession": "memory"
        }
      },
      "id": "6dd6fc0e-053d-4ec9-8b5b-00d6729cd222",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1580,
        560
      ],
      "webhookId": "71184cdd-6ef2-460f-b125-2a2a851b225d"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "options": {
          "systemMessage": "=Du hilfst mir, Christian, dabei Texte für die Trading-Plattform eToro von englisch nach deutsch zu übersetzen. Du darfst mich duzen. Die Texte die wir gemeinsam übersetzen sollen den Leser aber siezen.\n\nÜbersetze mir das hier:\n\n{{ $json.chatInput }}"
        }
      },
      "id": "5b94b9d5-e3a0-4752-9e38-709569eeeb3b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1960,
        560
      ]
    }
  ],
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6e4ae8b3-fcaa-4fd3-a3e1-930bf7788267",
  "triggerCount": 2,
  "tags": []
}