workflows/cqcJ992iflBy0Zb9.json
{
  "createdAt": "2024-07-18T13:45:15.038Z",
  "updatedAt": "2024-07-25T11:32:27.000Z",
  "id": "cqcJ992iflBy0Zb9",
  "name": "Find issue for mail",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "1a043935-b2dc-4391-b944-144f1b338c40",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -180,
        760
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {},
      "id": "0767ef17-7340-497d-bc64-9926b6cc6886",
      "name": "Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4eb5bd1d-bb9f-4995-9ec7-5313d14d9d77",
              "name": "issuekey",
              "value": "={{ $json.document.metadata.issuekey }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "id": "689d7070-4b8f-4b6c-92eb-51b9c5f3efb8",
      "name": "Get issuekey",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cce35a51-fdcb-4d58-9461-b255c1e34773",
              "leftValue": "={{ $json.document.metadata.issuekey }}",
              "rightValue": {},
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "ca6c0658-24ce-4f15-b438-714e98995a10",
      "name": "Relevant",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        540
      ]
    },
    {
      "parameters": {
        "name": "Jiraissues",
        "topK": 100
      },
      "id": "fe757e50-01c1-4153-902f-71cfb8638273",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -160,
        1220
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "c49d9717-22cd-4e5d-af9d-fd448a82b838",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -20,
        1460
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "231aaf1f-7e01-424d-a52f-0ce2094657c8",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -380,
        1600
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Durchsuche den Index nach einem passenden Vorgang zur Nachricht von {{ $json.from.value[0].name }} die per Mail von {{ $json.from.value[0].address }} kam mit folgenden Text enthält: {{ $json.data }}. Im Text enthaltene Mailadressen oder Domainnamen von Projekten sind sehr wichtig für die Zuordnung.\n\nDie Zusammenfassung der Nachricht ist: {{ $json.message.content.abstract }}",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "bde60b83-ff2a-41be-8627-35820f1accd6",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -260,
        980
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "name": "Jiraissues",
        "topK": 100
      },
      "id": "edbd2966-8c9d-43a0-b312-d5debd4bf2a2",
      "name": "Vector Store Tool1",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        840,
        1200
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "7d90ba7f-2c9f-4ac1-afa3-d776c23e4cd3",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        980,
        1440
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "9941c173-9aee-4659-8e65-f2ef16ce7a4e",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        620,
        1580
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "issues"
        }
      },
      "id": "fe417a4f-9606-4623-bff9-112980fbd774",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -380,
        1380
      ],
      "credentials": {
        "pineconeApi": {
          "id": "8lDKmR3gvMj1szqg",
          "name": "Pinecone"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "issues"
        }
      },
      "id": "f685b4be-6286-4396-9490-d04fede14a1c",
      "name": "Pinecone Vector Store2",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        620,
        1360
      ],
      "credentials": {
        "pineconeApi": {
          "id": "8lDKmR3gvMj1szqg",
          "name": "Pinecone"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Suche nach mm@jondos.de",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "1262627a-41b6-448f-ba99-5bb627840461",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        740,
        960
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "prompt": "=Durchsuche den Index nach einem passenden Vorgang zur Nachricht von {{ $json.from.value[0].name }} die per Mail von {{ $json.from.value[0].address }} kam mit folgenden Text enthält: {{ $json.data }}. Die Zusammenfassung der Nachricht ist: {{ $json.message.content.abstract }}\n\nBevorzuge neuere Einträge und Vorgänge mit einem aktiven Status (In Arbeit, Vorbereitung, Planung, Schätzung usw.) in den Metadaten statt Status Fertig.\n\nIm Text enthaltene Mailadressen oder Domainnamen von Projekten sind sehr wichtig für die Zuordnung.",
        "topK": 1,
        "options": {
          "pineconeNamespace": "issues"
        }
      },
      "id": "7cd735ed-2516-4728-9171-ce99af4f3b3f",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -200,
        540
      ],
      "credentials": {
        "pineconeApi": {
          "id": "8lDKmR3gvMj1szqg",
          "name": "Pinecone"
        }
      }
    }
  ],
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Workflow": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Relevant": {
      "main": [
        [
          {
            "node": "Get issuekey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool1": {
      "ai_tool": [
        [
          {
            "node": "OpenAI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Relevant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7aa33525-edbc-4db5-9419-80d1ab2eb58d",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-07-19T11:41:10.307Z",
      "updatedAt": "2024-07-19T11:41:10.307Z",
      "id": "KjOZ3fk6ysEni7CZ",
      "name": "jira"
    },
    {
      "createdAt": "2024-07-19T11:38:21.497Z",
      "updatedAt": "2024-07-19T11:38:21.497Z",
      "id": "R3f6NQ4V2TDyb09j",
      "name": "openai"
    },
    {
      "createdAt": "2024-07-19T11:40:04.689Z",
      "updatedAt": "2024-07-19T11:40:04.689Z",
      "id": "wNSc3sQpRZI8CPoy",
      "name": "pinecone"
    }
  ]
}