workflows/IGUhc22Y0WkB4gGV.json
{
  "createdAt": "2024-07-21T13:25:13.104Z",
  "updatedAt": "2024-09-23T13:01:08.549Z",
  "id": "IGUhc22Y0WkB4gGV",
  "name": "Index WordPress clicksports.de",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "9f08badc-aac1-456a-b5c7-8c48699617a8",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        2040,
        1340
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.title }}\n\n{{ $json.excerpt }}\n\n{{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "url",
                "value": "={{ $json.link }}"
              }
            ]
          }
        }
      },
      "id": "b747eb46-1147-4823-b048-9e4f1f43d13f",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2240,
        1340
      ]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50
      },
      "id": "52e04aca-9d9e-4cd7-92a6-08c1c17d5c84",
      "name": "Token Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        2240,
        1560
      ]
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "status": "publish"
        }
      },
      "id": "2b7945ab-9e7a-4f86-bb96-52211b372705",
      "name": "Pages",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        420,
        760
      ],
      "credentials": {
        "wordpressApi": {
          "id": "kjwZHtLKXZNMAv0b",
          "name": "Wordpress clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "status": "publish"
        }
      },
      "id": "4cbd1335-8f28-4070-a580-6ba1b0163c41",
      "name": "Posts",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        460,
        1740
      ],
      "credentials": {
        "wordpressApi": {
          "id": "kjwZHtLKXZNMAv0b",
          "name": "Wordpress clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "299b0b1d-1a80-4480-8cb8-5cf817dab2b7",
              "name": "content",
              "value": "={{ $json.markdown.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3e699963-e64a-498f-a226-9b046c685640",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "047feb84-b959-46bf-b424-878304424fd1",
              "name": "title",
              "value": "={{ $json.markdown.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "722fd3d0-ed91-42cb-ad81-91059976c08a",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        540
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5311560-c2ce-4447-8cf4-445d4b2f7e97",
              "name": "excerpt",
              "value": "={{ $json.markdown.excerpt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7c97a274-01ea-4086-9c85-a882ea11b325",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        780
      ]
    },
    {
      "parameters": {
        "html": "={{ $json.content.rendered }}",
        "destinationKey": "markdown.content",
        "options": {
          "blockElements": "p,div"
        }
      },
      "id": "70c4575f-09fe-4eab-8416-c95372ed1038",
      "name": "Content",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1060,
        320
      ]
    },
    {
      "parameters": {
        "html": "={{ $json.title.rendered }}",
        "destinationKey": "markdown.title",
        "options": {}
      },
      "id": "c6ade3fd-ae92-4a0d-8c13-8028eff0266e",
      "name": "Title",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1060,
        540
      ]
    },
    {
      "parameters": {
        "html": "={{ $json.excerpt.rendered }}",
        "destinationKey": "markdown.excerpt",
        "options": {}
      },
      "id": "d4bb8bff-b0d4-4a38-8d78-59c2bdc0bfa8",
      "name": "Excerpt",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1060,
        780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f049ce11-0c0c-4b15-80b1-e2c3bf7e4c8e",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8ba83ae9-1508-47cf-9b1d-abf3fb939db9",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        1040
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "299b0b1d-1a80-4480-8cb8-5cf817dab2b7",
              "name": "content",
              "value": "={{ $json.markdown.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "901663f4-9c87-409d-ac97-22e076ad9238",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        1420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "047feb84-b959-46bf-b424-878304424fd1",
              "name": "title",
              "value": "={{ $json.markdown.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a14350bc-4104-40c2-ae7e-8c2ac89eec9d",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        1640
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5311560-c2ce-4447-8cf4-445d4b2f7e97",
              "name": "excerpt",
              "value": "={{ $json.markdown.excerpt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a673c27c-0ac6-4afe-b7c1-295e3fd37e36",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        1880
      ]
    },
    {
      "parameters": {
        "html": "={{ $json.content.rendered }}",
        "destinationKey": "markdown.content",
        "options": {
          "blockElements": "p,div"
        }
      },
      "id": "7d573709-b03a-4be3-a59b-2707679be832",
      "name": "Content1",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1060,
        1420
      ]
    },
    {
      "parameters": {
        "html": "={{ $json.title.rendered }}",
        "destinationKey": "markdown.title",
        "options": {}
      },
      "id": "a1384152-3705-4cf7-9583-9183d91051c7",
      "name": "Title1",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1060,
        1640
      ]
    },
    {
      "parameters": {
        "html": "={{ $json.excerpt.rendered }}",
        "destinationKey": "markdown.excerpt",
        "options": {}
      },
      "id": "66b35322-bab8-43fd-aa49-43f47f3317f0",
      "name": "Excerpt1",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1060,
        1880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f049ce11-0c0c-4b15-80b1-e2c3bf7e4c8e",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4ff16da6-3937-485c-acad-f99429dd8841",
      "name": "Edit Fields7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        2140
      ]
    },
    {
      "parameters": {
        "url": "https://www.clicksports.de/portal/cart.php?a=add&domain=register",
        "options": {}
      },
      "id": "c9164ca3-c30e-4df8-94c6-42a02f5792cf",
      "name": "Domain prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        2560
      ]
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "destinationKey": "content",
        "options": {
          "ignore": "select, head, meta"
        }
      },
      "id": "5cfae388-316e-4fb4-94d4-73ac338581df",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        960,
        2560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fd52bd0-749e-4556-b66d-9768a865547e",
              "name": "link",
              "value": "https://www.clicksports.de/portal/cart.php?a=add&domain=register",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "data",
        "options": {}
      },
      "id": "ddcf3990-a696-4cda-9f43-d1e23b97b54d",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        2560
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "c109edc3-eb41-497d-a54b-d142a4d1589d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -140,
        1740
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "id": "dc522253-d97a-461a-9079-74707b5e2098",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1640,
        1720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5dbd6405-dca5-432d-ad93-bcf61acebd77",
              "name": "content",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3fb1b928-569f-45fe-bb6a-b6a87016b19c",
      "name": "Edit Fields9",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        2560
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "id": "f6298e55-9639-4925-8b27-f98774c6ddff",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1660,
        660
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Extrahiere Domainpreise im Format \"TLD: EUR pro Jahr\":\n\n{{ $json.content }}",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "72598110-b323-4600-b534-e8d33cdc73ab",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1300,
        2560
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "wp",
          "mode": "id"
        },
        "options": {}
      },
      "id": "d892b4be-3268-4e94-aa37-71e1e26f8180",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        2200,
        860
      ],
      "credentials": {
        "qdrantApi": {
          "id": "EF7g7Gu0GqFf23bE",
          "name": "QdrantApi account"
        }
      }
    }
  ],
  "connections": {
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pages": {
      "main": [
        [
          {
            "node": "Title",
            "type": "main",
            "index": 0
          },
          {
            "node": "Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Excerpt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Content": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excerpt": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Content1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excerpt1": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts": {
      "main": [
        [
          {
            "node": "Content1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Title1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Excerpt1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Domain prices": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Domain prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oXwbRnZHgYHUkKj4"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "113a6c24-c513-4d59-8dc0-bd93fa8e96ee",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-07-18T11:59:49.236Z",
      "updatedAt": "2024-07-18T11:59:49.236Z",
      "id": "pp35M0Su309OL8L3",
      "name": "rag"
    },
    {
      "createdAt": "2024-09-23T12:45:52.025Z",
      "updatedAt": "2024-09-23T12:45:52.025Z",
      "id": "kc4ZjqkDUkLQSaff",
      "name": "qdrant"
    }
  ]
}