workflows/rSgNfJ3ucT6BIc9I.json
{
  "createdAt": "2024-07-23T05:23:00.984Z",
  "updatedAt": "2024-09-23T12:53:00.339Z",
  "id": "rSgNfJ3ucT6BIc9I",
  "name": "Public chat",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "10d850bd-7f34-4477-8c2e-086f396e5977",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmOpenAi",
      "typeVersion": 1,
      "position": [
        -2840,
        2220
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "515b0080-e838-400f-843b-221cf4d08407",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -3200,
        2440
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.4
        }
      },
      "id": "d9ac67b5-037a-47b0-ae3d-04fc5bfad97a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -4260,
        2020
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "content": "https://github.com/n8n-io/n8n/pull/9865"
      },
      "id": "38ed48a9-ade3-400f-a61b-aade5b6d5eca",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4340,
        1640
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 100
      },
      "id": "f29f2b07-24dd-4c20-8dbb-8b1b4cb703f5",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -4120,
        2020
      ]
    },
    {
      "parameters": {},
      "id": "5eb188ce-5184-4706-bff7-ecbaf97b188a",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -3960,
        2020
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "c696c0e5-7c53-4490-b9e3-bbbf4640f9b8",
      "name": "OpenAI Model1",
      "type": "@n8n/n8n-nodes-langchain.lmOpenAi",
      "typeVersion": 1,
      "position": [
        -3580,
        2380
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "9752e470-5b9e-4b2a-b536-e495a390bceb",
      "name": "Embeddings OpenAI5",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -3900,
        2560
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "name": "Jira",
        "description": "Customer dialogs, current and past issues and frequently asked questions",
        "topK": 200
      },
      "id": "ccd5ca26-f4e2-4a94-9d45-d6a45326f5c1",
      "name": "Jira tickets",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -3780,
        2160
      ]
    },
    {
      "parameters": {
        "name": "WordPress",
        "description": "Public content on www.clicksports.de with products, portfolio, pricing and domains",
        "topK": 200
      },
      "id": "d42355e7-19e1-4fa6-a73a-51007da71332",
      "name": "WordPress content",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -3040,
        2020
      ]
    },
    {
      "parameters": {},
      "id": "8d89d63c-cf59-4865-8992-82aa69a4a2e5",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        -4110,
        1380
      ],
      "webhookId": "092b9290-df5f-4a20-9fb5-bc74d04a7981"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Du bist ein freundlicher und hilfsbereiter Chatbot auf der Website der Digitalagentur CLICKSPORTS die sich auf  Entwicklung, Webdesign, Support und Hosting spezialisiert hat. In der angeschlossenen Vektordatenbank findest du Tickets und Vorgänge von Themen die wir bereits bearbeitet und gelöst haben. Versuche auf der Basis deinem Chatpartner zu helfen und biete frühzeitig an den Chat an menschliche Intelligenz zu übergeben falls ihr nicht wweiterkommt. \n\nDie Vektordatenbank enthält keine persönlichen Daten oder Namen von Ansprechpartnern da der Chat öffentlich im Internet ist und wir unsere Kunden und Partner schützen müssen.\n\nNach der zweiten Frage kannst du vorschlagen euch zu duzen und nach dem Namen zu Fragen. Bis dahin verwende bitte das Sie zur Anrede. Wenn du geduzt wirst könnt ihr per du sein, behalte das Du dann bei falls der Chatpartner es nicht anders wünscht.\n\nEmpfehle keine anderen Anbieter sondern suche nach passenden Lösungen und Produkten die wir anbieten. ",
          "returnIntermediateSteps": true
        }
      },
      "id": "122a6145-d560-4d16-a6eb-51f214329cc9",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -3800,
        1640
      ]
    },
    {
      "parameters": {
        "content": "https://clicksports.atlassian.net/jira/software/c/projects/TEST/issues/TEST-770",
        "height": 80,
        "width": 582.1052631578941
      },
      "id": "5b3500d3-d05f-4cec-a4d2-1b9a9f7a333d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3340,
        1540
      ]
    },
    {
      "parameters": {
        "resource": "issueComment",
        "issueKey": "TEST-770",
        "comment": "={{ $json.output }}",
        "options": {}
      },
      "id": "0010f084-772d-44e5-860b-a42e312bc4af",
      "name": "Add chat to ticket",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -3340,
        1360
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "HlsaLdc6YFfeasWO",
          "name": "Jira christian.gick@clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "kb",
          "mode": "list",
          "cachedResultName": "kb"
        },
        "options": {}
      },
      "id": "40fc9a35-09a3-422e-910c-8674cd054126",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        -3900,
        2380
      ],
      "credentials": {
        "qdrantApi": {
          "id": "EF7g7Gu0GqFf23bE",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "wp",
          "mode": "list",
          "cachedResultName": "wp"
        },
        "options": {}
      },
      "id": "23a1244c-7713-4948-b7c1-bf5c5818ba0f",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        -3200,
        2220
      ],
      "credentials": {
        "qdrantApi": {
          "id": "EF7g7Gu0GqFf23bE",
          "name": "QdrantApi account"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "WordPress content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Jira tickets",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Jira tickets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WordPress content": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add chat to ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Jira tickets",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI5": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "WordPress content",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oXwbRnZHgYHUkKj4"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "398b8f51-0f6f-4820-96b7-0fe874fcd02b",
  "triggerCount": 3,
  "tags": [
    {
      "createdAt": "2024-07-19T11:38:21.497Z",
      "updatedAt": "2024-07-19T11:38:21.497Z",
      "id": "R3f6NQ4V2TDyb09j",
      "name": "openai"
    },
    {
      "createdAt": "2024-07-18T11:59:49.236Z",
      "updatedAt": "2024-07-18T11:59:49.236Z",
      "id": "pp35M0Su309OL8L3",
      "name": "rag"
    },
    {
      "createdAt": "2024-09-23T12:45:52.025Z",
      "updatedAt": "2024-09-23T12:45:52.025Z",
      "id": "kc4ZjqkDUkLQSaff",
      "name": "qdrant"
    }
  ]
}