workflows/TbCr07g9IGoSaxit.json
{
  "createdAt": "2024-07-21T17:45:10.188Z",
  "updatedAt": "2024-09-23T13:00:05.578Z",
  "id": "TbCr07g9IGoSaxit",
  "name": "Storagebox subaccount setup",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "n8n.json"
        }
      },
      "id": "7b405b62-c700-4b2c-b7c0-d872ddac352f",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2520,
        160
      ]
    },
    {
      "parameters": {
        "url": "=https://robot-ws.your-server.de/storagebox/{{ $('Filter1').item.json.storagebox.id }}/subaccount",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "fbd6329e-821c-488c-abb0-b0acfe5738a1",
      "name": "Check if storagebox subaccount exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        160
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "kRhgbsaDhVJZpRle",
          "name": "Hetzner Robot"
        },
        "httpQueryAuth": {
          "id": "swqGZg5NIwaG3Czq",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "subaccount.homedirectory"
            }
          ]
        },
        "options": {}
      },
      "id": "fb326c56-9cca-4905-a203-8c924f7a010f",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2100,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://robot-ws.your-server.de/storagebox/{{ $('Filter1').item.json.storagebox.id }}/subaccount",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "homedirectory",
              "value": "={{ $('Execute Workflow Trigger').item.json.serverId }}"
            },
            {
              "name": "ssh",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "11536f00-5b52-40df-8e32-a7579238fe4f",
      "name": "Create subaccount",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        160
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "kRhgbsaDhVJZpRle",
          "name": "Hetzner Robot"
        },
        "httpQueryAuth": {
          "id": "swqGZg5NIwaG3Czq",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {},
      "id": "8846cba7-af7f-4aa6-bb46-91d09b756eea",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        940,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://robot-ws.your-server.de/storagebox/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "4e33c30b-2b40-4201-8221-691e13f08e12",
      "name": "Get storageboxes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        160
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "kRhgbsaDhVJZpRle",
          "name": "Hetzner Robot"
        },
        "httpQueryAuth": {
          "id": "swqGZg5NIwaG3Czq",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "e4e290d9-d0d0-4534-a437-dbad3ada3ab5",
              "leftValue": "=$json.serverId",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "785d63f1-d945-493f-8010-cde69a82dbfc",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        1160,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "bc591571-ca4c-43ae-b99e-62aa1b3c995f",
              "leftValue": "={{ $json.storagebox.login }}",
              "rightValue": "u336430",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "3e7dc16e-4f12-4e0f-9ed8-6adeea248fc6",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        1620,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "9f74c58c-5fd4-4584-923c-2b74170fbef1",
              "leftValue": "={{ $json.homedirectory }}",
              "rightValue": "={{ $('Filter').item.json.serverId }}",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "35c41741-4d07-431c-aa48-ede747214fb7",
      "name": "Filter2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [
        2320,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=expect -c 'spawn ssh-copy-id -o StrictHostKeyChecking=no -f -p 23 -s {{ $json.subaccount.username }}@u336430.your-storagebox.de; expect \"password:\"; send \"{{ $json.subaccount.password }}\\r\"; expect eof'"
      },
      "id": "fe930401-2108-42fc-997c-9410391ab81c",
      "name": "Add key",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3200,
        20
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "7cM8UD60RNSc7v3k",
          "name": "SSH Hcloud"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=echo {{ $json.subaccount.username }}@u336430.your-storagebox.de:/home /backup fuse.sshfs defaults,port=23,reconnect,ServerAliveInterval=15,ServerAliveCountMax=3 0 0 >> /etc/fstab && systemctl daemon-reload"
      },
      "id": "7474cf2c-487f-4c23-aca2-80d245b581bb",
      "name": "Add mount",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3200,
        260
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "7cM8UD60RNSc7v3k",
          "name": "SSH Hcloud"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "path": "=/home/{{ $('Filter').json.serverId }}",
        "options": {}
      },
      "id": "fee73545-8ec4-48bb-8dbf-ed293706a1b3",
      "name": "Create folder by upload",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2740,
        160
      ],
      "credentials": {
        "sshPassword": {
          "id": "9JgV4fXmLWdktjOp",
          "name": "SSH Storagebox"
        }
      }
    }
  ],
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create folder by upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if storagebox subaccount exists": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get storageboxes": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get storageboxes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Check if storagebox subaccount exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create subaccount": {
      "main": [
        [
          {
            "node": "Add key",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add mount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder by upload": {
      "main": [
        [
          {
            "node": "Create subaccount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oXwbRnZHgYHUkKj4"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "serverId": "72830"
        }
      }
    ]
  },
  "versionId": "831c9871-3508-45f5-81b0-7736d211cb49",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-07-22T06:04:30.790Z",
      "updatedAt": "2024-07-22T06:04:30.790Z",
      "id": "0T7Op5ZKbBRZRiWZ",
      "name": "hetzner"
    }
  ]
}