workflows/Uj6pyg5hTfVoirGz.json
{
  "createdAt": "2024-08-06T09:34:05.300Z",
  "updatedAt": "2024-09-23T13:00:34.839Z",
  "id": "Uj6pyg5hTfVoirGz",
  "name": "FLM messages to Sheet",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uZrHfuqpBLHgwFKf5Jhup1DcQKdoita6cfMzykxELtU",
          "mode": "list",
          "cachedResultName": "FLM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uZrHfuqpBLHgwFKf5Jhup1DcQKdoita6cfMzykxELtU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uZrHfuqpBLHgwFKf5Jhup1DcQKdoita6cfMzykxELtU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "{\"content\":{\"freelancer_data\":[{\"Name Freelancer\":\"Mouncif ait abdelghani / United Behavioral and Cognitive Group\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/U9yqMt+3B4OBkVnuyIUTyL2IfhCyPvX31woIn77X3E514MfjQZ70iwBytGfzDcr8Y2wvlqY31ns8ZQ43xobSz52WoNwz0eS7GmeBQpIPb6wDupQq2bEX1C31l5TUfLWnkkkys0OFognkKZFdNs47DQ==:af4guwUvoIdiMb8b8aIMNw==\",\"Zeitpunkt\":\"06.08.2024, 11:56\"},{\"Name Freelancer\":\"Christian Wenke / C.A.W. Webdesign\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/jyLsbTq/4Do+d53NJ+xIbztKNaDocZKIl5la/fGBL7GukOvnYifydSgu88p8EbQfBpdr/f1jIbA6TJhwWZy8htFLukIcg6Dks7wdkbeOQ5KJVutz0NEe2bGMD224e9kpewljMubLUofyXsK6iFIG+w==:/iuR2qZcwPoWf1+PyR2x9A==\",\"Zeitpunkt\":\"06.08.2024, 06:16\"},{\"Name Freelancer\":\"Daniel Frank / O7EAN GmbH\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/872hKWOXe2rl+ym0MJ7zmuURQiTcq136mKMqgJxx8nFYSsT7YyompgkOcv8uVKkoXu4mStTeCbGD0KQLwZTxWW9SGxCKcu76+O/TmvFkL2SRxN7OhXH/F8A+q6K+eOKZ8UB1rgt1Vw+zwYMXI5J7ZQ==:PzA70/YfhQYQ94relGlvUw==\",\"Zeitpunkt\":\"05.08.2024, 12:22\"},{\"Name Freelancer\":\"Daniyal Alam\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/NI5HZ9Zil0ahJpYTmvVicIACyLXd76bwrP6rA5NsCJAbg8T++YLso3B4MebCW8doSWAACO8Jfs+AWEsqCb+u55RcACoI69a3YV4O/0RrKTRIBuXVRYXyEyuHVQqdyA3M+ZzNmJcvTNBZBa5S1WD1iw==:pJyn8hF955RnsLnRrEzb/g==\",\"Zeitpunkt\":\"05.08.2024, 09:26\"},{\"Name Freelancer\":\"Mustafa Talha Özdogan\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/SOYoXOw+uTEPiYvUz0AmC4fJNaaVTnZaweUILkuLsBaKGu4AT9j0sJFNWW2FgGkgZMvs/Tkmufdw9k+pXekaSFMcE7eX4fAws2nRuxoZYkWDybgkzGO/zgrS9dxUPx0ha7AC0X9JBKugXxve20Nz2A==:fFf0PAhKjHuS/ZYsBcM84A==\",\"Zeitpunkt\":\"04.08.2024, 16:34\"},{\"Name Freelancer\":\"Olaf Lindert / LiNDERT WEB SOLUTION\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/oN6N2G1nljcLzN5EVE39Wxz7PiSRJjaP3JU8i2OZui08fijLQdTANozVMLF+DJc8J7kQTuyBWGVdmF4i30lEAq009FKobBXq2E1wz5HTBHuKTZaapdOhtGm3qEYCFGp+wSFzCYXIEaUJqI+efDQCLQ==:TmRsy1YnH4KKBREXxBgpWQ==\",\"Zeitpunkt\":\"04.08.2024, 15:28\"},{\"Name Freelancer\":\"Melanie Garmanzky / Garmanzky GmbH\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/sipIDYNUflrNth9QtaFBd29iJjCP9LuLD6DEQUuCX6JU9sgSl1c+9rjw/EBzaFcVLgNaz0X64Aj/B2zRm7rBdo4uuStj+ymTNtS52ni1WDiOBGDFQ3c7PXsFyNr9tBcyzW+RMfL301d1/BhOPr9xow==:3xUr7kZATBCSiRsGguzAtg==\",\"Zeitpunkt\":\"03.08.2024, 21:57\"},{\"Name Freelancer\":\"Yuriy Slabenko\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/CHuSDnCwosZH5Xj5Le9nWLd9TA8WAt258BnFP8krdPSEdAaP3Wx00kO0XUnP7RTq77Q3++aemrFofIIfA6R5XeRFvvKFvXIXATrMKHH1DC5VQQgaqsbT8WAMxXECI49j52kWBVhsPVeBQBbQ4cL7Kg==:XtNSmOVXnUUxbc6PbkJ8Ww==\",\"Zeitpunkt\":\"03.08.2024, 13:39\"},{\"Name Freelancer\":\"Dimitar Minkov / TVM Engineering Services Ltd.\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/1L8Xs+MofESIXYAITuIOSeH6oQtASBE0BVGk637Ymd9sweGPnyCP6+U/8K9lFayhSPY0IA7nY7fWxqGybN2npqwE4VeSvNSJcI9k4uq5+8r/y1O8LM9vfT9WLLQour74fRg8GICdFzM5rum2eb7vxA==:felq3yNSRpBq69UKyNrO+g==\",\"Zeitpunkt\":\"02.08.2024, 20:13\"},{\"Name Freelancer\":\"Pascal Mayer\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/bkVH7M6OUZeQvmRIMmVaBlUrAMbg4eNmqnYTDBefHl1f2Mrf0YFF/fJ88H6+E1LHfKJ2K1JU8yiqixkFvTh1SMSPo2M46VtnL1VnajITG2m8YlmdISwkeRvcLiP3nAx+OvmKZFc0g2z5zFragaVvuA==:GB6AfTS72PyV5cOeyqmuUw==\",\"Zeitpunkt\":\"02.08.2024, 19:24\"},{\"Name Freelancer\":\"Dominique Grabmann / Pro Natur Design\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/MhokQQi9V3223DwNuROpKdm0zgFbMyxZ7NUEp4KVKZKJR9mY540Ugwme2yhdiX9A3FfCOEm1S8rXCcTj1VgIcKU7kAYlL5XloLaE6EoYt5UtY9rAMMs7XhDH69VK4OA1bo1WGk//TgCRwRMeKUVc5Q==:kSfWD8jOiZTVRGrDqa/J7w==\",\"Zeitpunkt\":\"02.08.2024, 17:03\"},{\"Name Freelancer\":\"Mayank Ranpara\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/4kVLO/k0dTKR7mleUDHOQwUe3tqxlLhq9+pNvVaKgVwn+YtWZaohQQFpEFKYGUSnp9FJnTNXhXNcojkidi9+p+0beIHZicdqHzHhClvGxFUZpvtOcgHTJg8S/M+8TMg7XgPYI4GVRLv0OoOjfHoGwg==:46nbuYjakrAT7XUf52OY+A==\",\"Zeitpunkt\":\"02.08.2024, 15:48\"},{\"Name Freelancer\":\"Dmitrii Shapiro / Linxnpix\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/YGL5qOGK6b5TkFZTbBiH+Jco8818O3U+Ea7fdM/dDfWTqq9jsqJaxHWXrsG5sCU7VUlGxBHm4ANcksnosYhA2WrWXOZQYtS6r7YfF1/BDjCmKXZRWU5EqfTUKALfef8a4XgvUi/hPv5AutBt0Ttu2Q==:6rl/veF110SdhaLWToWjxA==\",\"Zeitpunkt\":\"02.08.2024, 15:01\"},{\"Name Freelancer\":\"Felix Erdmann / Wowbiz · Felix Erdmann\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/bsPlThZ+OVFH/GqZdnzq7A7w8wiOjs3F1iEcSftrgz353/my3ifE7XnZjBx4bwwFkpzu2S1NbJLM9/jWMckG9039KTfKjc5sXGFS3WZvlUtd0beFjdqbmxc0jLlREhCImlbN7C9nHDa6y/KHSLSMrQ==:cSHVhbLN1AJuO93KWMxS/Q==\",\"Zeitpunkt\":\"02.08.2024, 14:45\"},{\"Name Freelancer\":\"Oleksandr Hrytsai\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/F3BaSZWC+f+3wJA5SkxhCx1lmAh4B4MTj9DLbQWQXNKv24PlZUBh/9o5y1tkLEaOHaMCpo9ETglkBfHq4wgAEqXK0Y+tLDJa4XGNzNjVrJGmqo8IkWU/0zPs/eoOusP4xMTCYz/lq/yfxEs9J6f2nA==:nQMzojsk326RTDMwSyqAeg==\",\"Zeitpunkt\":\"02.08.2024, 12:15\"},{\"Name Freelancer\":\"Thomas Canali / W&O-Marketing Thomas Canali\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/ZIs+VZpYNUYQIuB/EWALQLHtBNwbSzMS7Gvb9XPDuRkguG0ArKVANzGwABRIbeRV9eypUMroPgoYUXCHGxnzaVx45RvG6xARmsyhqJVebvqMlthRLcE4sH3BAZzjD/NNOh6GIHPcZrLQ9SUVhy8NmQ==:/lC/r77WbHGsrYUT3yUwoQ==\",\"Zeitpunkt\":\"02.08.2024, 11:59\"},{\"Name Freelancer\":\"Manuela Plate / MAINYOULA.DESIGN\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/ls742acR6/J+bY4e0NDEardYN3QJtsPV+4D6gKNmYHKc6AmhLSl9ZCSK0Czg4vASyHF4391QdNcihR4MUFCzrQ0CGKxbTlbddKmNnfkDWCoZAywuIesco07spOKt4pYjVwnV1sh9OvMd54j8c5NsLw==:n3/dHFEeEOFOtKtyfdfzrg==\",\"Zeitpunkt\":\"02.08.2024, 10:16\"},{\"Name Freelancer\":\"Stefanie Rehor / visuals\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/gRHhAwjVt79OuzGqYElT0KMghb8ynsOeLcl3Y4ygmjKVbkVOtqmJ55QflxOhURRbcGMyApDXkTKpGI4cStXkHEtJh7O4J+XSXukLzBMA1GyzAneH2IhLDU2CLLya/epYCHRx/UIOGR4NUUPaZFNh2Q==:F7vjr4hyEB/e5W4IPEPV2g==\",\"Zeitpunkt\":\"02.08.2024, 10:11\"},{\"Name Freelancer\":\"Christian Ehler / cehler.dev\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/5eQO4rT/zZiAsWiRXL+gyfSuWYZ0IY42CZpurw9vlIjSS6vnYyJaWbYTKM5sDF/XpldciuxLGj/kU5hvEJSmmPhN4kHn80MEvvg0zP76CtYtBGAcp3pDZBFkp2R9nG4TvGlHWSc0xg5OLLJPi699QQ==:PeVzRDJeIHk/tZka+3+VdA==\",\"Zeitpunkt\":\"02.08.2024, 09:10\"},{\"Name Freelancer\":\"Robin Oehler / roehler.nrw\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/4kukuieAQxTI9L2lwj10SJmih3tnq42NKpjm8nEvNv+qKuWWZZg7tBdssZbUT9ZXb1HYUcLw4pve9ZgLNMa2WVH7eK+naJxk1Lyc/c9vlZFp+llwoW8VkRPvUeOm+g2pvtiRZ/upFo56wfSimWG5jA==:JsOB4QDOSVpX+amL8ZcAWw==\",\"Zeitpunkt\":\"02.08.2024, 06:31\"},{\"Name Freelancer\":\"Vipin Gopal / Vipin Gopal\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/xh9Cc81ESu+vc20mvGsmzy1RoeaTN9VuqwMEmuLRBqWVqyO0h4ay7GPtJF0S7TqNEjFAU8QOti0TbYIxFylMPkoacL25VsoORiSobS8518lCx0MCW/mLfh4/Dk1e4hh2UgTq5UWmXUEMZFG+IkJk7A==:pMG3yG3lWsc8D065gXkYLg==\",\"Zeitpunkt\":\"02.08.2024, 00:09\"},{\"Name Freelancer\":\"Arno Ehlenbröker\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/Ou8LWELUPJE9gMy9/zZ3TKtgG/gYQbYTZIdWnhTKDYyttFlpcIAYEaXkuHTagYw1FQUGvERZW+2x2ooFs27MI2RNLi7AoNd26o8x1/861qESzV8e1XZYEC8UoSWKO4P9/x1V/rEjg+w4+Ji4+tDohw==:k6O1O0qDpz2w1mD294AdAw==\",\"Zeitpunkt\":\"01.08.2024, 15:53\"},{\"Name Freelancer\":\"Thorsten Wadenpohl / SmartconData GmbH\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/jnfS0NvFuUckjZN7U9fbPoMipxFAGlaYaWNgdSIUTi1Dtqbu59D4cqd7K+BvLejAc6MDalv1+7oirqwRgZvfPwhLh/MIvLD6lP0aaIVRf1qrZAWQ9wBKKgHeCQpfep4KzON1+6ISzp6s9tZ8NjOuJA==:CwRMP2qwYQIEtFIGqzpnrQ==\",\"Zeitpunkt\":\"01.08.2024, 15:27\"},{\"Name Freelancer\":\"Dominik Weiß / Adoo UG (haftungsbeschränkt)\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/hzAv7AIwDwWVuONtGbHtTUkaETuNs8jeR7onocpO2vyyhtgVXPQsp6Zzwv055DHYBRhYYsCCpPgXSke6dkHYCfo7CDLBJ391g95Pu6iBQdaeDlyBykFaUzeCsq78CG1sHL+NyIlS7KFdyQqUvlzm4Q==:CobQWsUrlSrhQlbgMGIz2A==\",\"Zeitpunkt\":\"01.08.2024, 14:39\"},{\"Name Freelancer\":\"Tom Wahl / WAHLREICH e.K.\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/tvhhCGC9C4/v0yZr4+BZfr11wS5zO/2lVVTYYRjZOn+7S8BkU43HGUvYEHTO6BHfC4Cgx9ub+E4iJC0Ze/KS2fBTWP5+SBkEjKOGXyVVEZrCiH6cHNCqXyXven9flmFqQD3mLdyLjEdcFcB6eoMBRg==:V9qgUrseIvaXXasmshuR3A==\",\"Zeitpunkt\":\"01.08.2024, 14:18\"},{\"Name Freelancer\":\"Thomas Ikemann\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/UibxXjM6UBqpkMXOGrfQ+XBxwwcANSEcY8tP3em76pkWEK++LmWCLi09c+s0sJp2sb96u5grGfX1jtkbwFajpv6K5d34tf7crPNFw8/8T+jT8BRP6Rw08gy/KxIMvOadT5waPq4NPALqNOqWZxNb1Q==:uVyD2rk4IZd6SfcUY0GKgw==\",\"Zeitpunkt\":\"01.08.2024, 13:13\"},{\"Name Freelancer\":\"Mike Rutsatz / Mike Rutsatz - Webentwickler\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/ukU8Sm2is70mJI5U744h33P+cDLP8lfKEOaadNUL3Im7oJeBGXrvavWwhoE4wUej2JTRe/YtgzJtmJj2lPmEsZMUvVBmkl5iqV/LkKXgyqOtIJY66dwLbV4/Mp4kjPR61JZtLJ2ulONWAdWSNvZOgw==:pPggUIEzcbQkA8YGav6VhA==\",\"Zeitpunkt\":\"01.08.2024, 12:56\"},{\"Name Freelancer\":\"Johan A. Zeilinga / jaz Webdesign\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/ufYoGuZy5t0VrEg68+13AysgiYONMwYNGOLFtbzA/cUFqyc5ydDe84GFQpflHsVrh8fbG5rg+oGdsjFmXeiEKReHMR3o9HJl03oowJjg7dzZPtn1oL27Be8Rt0nEKpHg50RRbzkfc1wacxikSIWcxQ==:4oaE874ED11bx50ccSHWZg==\",\"Zeitpunkt\":\"01.08.2024, 12:53\"},{\"Name Freelancer\":\"Marcel Frohne / Market Strat GbR\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/yCfMVXNo3w6/PTL3W7oKy17l59eFCUIjHn2nLTpxunwOe3aU4sLPCb0oAV9EfcpWvU32GJaUZefnuibtUdW2bgQvVoUYwf0yiEqD/8qpxc+QpMsIiQjKn5griiDZhVkvth49TD4OoCGgcPlEUfd06g==:J08u1BNmQEfADKfWRxpz5g==\",\"Zeitpunkt\":\"01.08.2024, 12:45\"},{\"Name Freelancer\":\"Tobias Boltze / medivendis oHG\",\"URL Freelancermap Nachricht\":\"https://www.freelancermap.de/app/pobox/m/oPfik/4phFFOrgiU2+kJG1K5vGvcfGdfU5CCWljWB+HEI1BNwuRnKRqu8ICDT2ZTVnMVeUqphKdCUnar5LVaKYNVoktJ/pA2GQdml11R+x+WoAQS4BiQxtkZPlXl9tVDAFvndr8zV27SIvQcGtMy7g==:6oa/CvlghDneRZQBQnp6fQ==\",\"Zeitpunkt\":\"01.08.2024, 12:37\"}]}}"
          ],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "dabf6ee2-f99f-4ff6-86db-b26b1bedd981",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1860,
        760
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FsAH6WckeSIuyyxJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "91476e25-9a88-4b02-92d3-46f24acdef73",
        "formTitle": "HTML2Table",
        "formDescription": "HTML-Tabelle einfügen",
        "formFields": {
          "values": [
            {
              "fieldLabel": "html",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "respondWith": "redirect",
              "redirectUrl": "https://docs.google.com/spreadsheets/d/1uZrHfuqpBLHgwFKf5Jhup1DcQKdoita6cfMzykxELtU/edit?gid=0#gid=0"
            }
          }
        }
      },
      "id": "55454d21-9f99-467d-8eea-c9b152660adc",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        320,
        560
      ],
      "webhookId": "91476e25-9a88-4b02-92d3-46f24acdef73"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "html",
        "extractionValues": {
          "values": [
            {
              "key": "messages",
              "cssSelector": ".message",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "id": "a017faff-684e-4136-9192-0108e4206a72",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        540,
        560
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "8c322b8d-782d-46a6-bd68-1d2c8e514cea",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        760,
        560
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "21e263e5-f75c-4cc4-bdb1-036bea75a3b5",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        560
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.freelancers",
        "options": {}
      },
      "id": "93b77cd7-7505-41f0-8945-cdc59bd10e39",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1640,
        760
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Füge relativen URLs das Präfix https://www.freelancermap.de hinzu. Extrahiere diese Spalten aus der nächsten Nachricht und gebe nur die Ergebniszeilen als Variable freelancers im JSON-Format zurück. Erst kommt der Absender dann der Zeitpunkt dann der Empfänger und dann die URL. Empfänger nicht zurückgeben. Keine Zeile ausgeben wenn Absender leer oder Christian Gick. Zeitpunkt im Format DD.MM.YYYY - HH:mm\n\nGib diese Spalten zurück:\n\nAbsender\nURL\nZeitpunkt",
              "role": "system"
            },
            {
              "content": "={{ $json.messages }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "2da68766-907c-4cc7-890d-f5cdcd364f5c",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1260,
        760
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    }
  ],
  "connections": {
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oXwbRnZHgYHUkKj4"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "595886d7-cc82-4cf4-94c4-d868a8e96538",
  "triggerCount": 2,
  "tags": []
}