workflows/V9yXc37KTkVFYveT.json
{
  "createdAt": "2024-07-18T13:24:24.265Z",
  "updatedAt": "2024-08-20T22:09:38.000Z",
  "id": "V9yXc37KTkVFYveT",
  "name": "Index issues",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {
          "stripNewLines": true
        }
      },
      "id": "f8afc3dd-899f-475e-bb36-cf1d7a26aedf",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        640,
        1440
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 2500,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "0ccebb38-3fa5-4aae-b1fd-740c994adc40",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        920,
        1660
      ]
    },
    {
      "parameters": {
        "content": "https://app.pinecone.io/organizations/-O0Pw_QbHmH05dWsaUEX/projects/de8f03c0-3faa-4e6e-a30c-2e834f4dd315/indexes/n8n/browser",
        "height": 123.61254232328483,
        "width": 348.09302325665226
      },
      "id": "9599f3b3-5546-46bd-ac6b-fd851940ddae",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -600,
        900
      ]
    },
    {
      "parameters": {
        "content": "https://clicksports.atlassian.net/issues/?filter=29253",
        "height": 80,
        "width": 282.9877088253423
      },
      "id": "f84f73ed-8baa-4178-9d36-d842958920f6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3900,
        720
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{ $json.key }}",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "customfield_14799",
                  "mode": "id"
                },
                "fieldValue": "={{ DateTime.now() }}"
              }
            ]
          }
        }
      },
      "id": "5816f70c-f0d5-46a4-8dc5-895512802f7d",
      "name": "Set index timestamp",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1520,
        160
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "HlsaLdc6YFfeasWO",
          "name": "Jira christian.gick@clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "options": {
          "expand": [],
          "fields": "summary,description,reporter,status",
          "jql": "filter=29253"
        }
      },
      "id": "eb741cc9-1a8c-4630-9e0c-b5bdca9951a0",
      "name": "Get issues to index",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -3680,
        520
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "HlsaLdc6YFfeasWO",
          "name": "Jira christian.gick@clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b408d9f-f53b-49d6-81ac-5b8f08ca72c3",
              "name": "renderedBody",
              "value": "={{ $json.author.displayName }} schreibt am {{ $json.created.toDateTime().format(\"dd.LL.yyyy\") }}: {{ $json.renderedBody }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dc58dbe1-605e-4cde-bf9a-feeb9faa0988",
      "name": "Match author with comments",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2980,
        1080
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "comments",
        "options": {}
      },
      "id": "b2dfc33b-641c-464a-a97a-a1f503c2cb87",
      "name": "Split comments",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2560,
        1080
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "comments"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "8db9109b-5055-4a48-a16a-ff57080bba8a",
      "name": "Aggregate clean comments",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2340,
        1080
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "renderedBody",
              "renameField": true,
              "outputFieldName": "comments"
            }
          ]
        },
        "options": {}
      },
      "id": "46afae27-fdab-4552-b3ea-83a592c847d8",
      "name": "Aggregate raw comments",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2780,
        1080
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Vector model ticket').item.json.data[0].pageContent }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=issuekey",
                "value": "={{ $('Vector model ticket').item.json.data[0].metadata.issuekey }}"
              },
              {
                "name": "=name",
                "value": "={{ $('Vector model ticket').item.json.data[0].metadata.reporter.name }}"
              },
              {
                "name": "email",
                "value": "={{ $('Vector model ticket').item.json.data[0].metadata.reporter.email }}"
              },
              {
                "name": "status",
                "value": "={{ $('Vector model ticket').item.json.data[0].metadata.status }}"
              }
            ]
          }
        }
      },
      "id": "9831d37a-3576-4297-a2e3-e3fcc7b6549f",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        920,
        1440
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "83c107f5-16f7-4194-a31a-64caf357457e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -20,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "073de083-fac8-4579-8110-3c7a14aab94b",
              "leftValue": "={{ $json.fields.description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a2365b95-bfbd-4dbd-8c64-93b5059bd2d8",
              "leftValue": "={{ $json.comments[0].length }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "9bb9c9dc-888e-4119-bcfd-b5e7047f5cc4",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1160,
        600
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "dfbac011-65eb-4e76-a3d6-80941148f40a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4000,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24ccedcb-2585-4873-972e-235489f7bdf4",
              "name": "fields.description",
              "value": "={{ $json.fields.description }}",
              "type": "string"
            },
            {
              "id": "082856d2-5f59-4b6f-ad0b-1a063b3246ba",
              "name": "fields.summary",
              "value": "={{ $json.fields.summary }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f3d0d8be-a24f-4264-b1b2-8c026b97fb48",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        560
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {
          "stripNewLines": true
        }
      },
      "id": "78401cc1-c48a-449d-b9a1-8fd34db85d46",
      "name": "Embeddings OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        420,
        620
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 2500,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "25b7ea61-4b02-446b-ae62-2b21646dec0a",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        740,
        840
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Vector model kb').item.json.data[0].pageContent }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=issuekey",
                "value": "={{ $('Vector model kb').item.json.data[0].metadata.issuekey }}"
              },
              {
                "name": "=name",
                "value": "={{ $('Vector model kb').item.json.data[0].metadata.reporter.name }}"
              },
              {
                "name": "email",
                "value": "={{ $('Vector model kb').item.json.data[0].metadata.reporter.email }}"
              },
              {
                "name": "status",
                "value": "={{ $('Vector model kb').item.json.data[0].metadata.status }}"
              }
            ]
          }
        }
      },
      "id": "5f21cc51-fb17-4017-832b-b1254fac2e0b",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        700,
        620
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function extractText(text) {\n    // Remove specific JSON structures and unwanted fragments\n    let cleanedText = text\n        // Remove image placeholders\n        .replace(/!image001\\.png\\|thumbnail!{adf}>/g, '')\n        // Remove specific JSON structures\n        .replace(/{\"type\":\"(?:expand|paragraph|table)\",\"content\":\\[(?:\\{\"type\":\"(?:text|tableRow|tableCell|hardBreak)\",\"text\":\"[^\"]*\"\\},?)*\\]\\},?/g, '')\n        // Remove HTML tags\n        .replace(/<\\/?[^>]+(>|$)/g, '')\n        // Remove excessive whitespace\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .replace(/[-_]{3,}/g, ' ')\n        .trim();\n    return cleanedText;\n}\n\nreturn {\n    json: { \"data\": [ {\n      \n        id: $json.key,\n        pageContent: $json.message.content.knowledgebase,\n        metadata: {\n            issuekey: $json.key\n        }\n    }\n                     ] }\n};\n\n"
      },
      "id": "514bec3e-2c42-4036-b200-a55b09dcf53e",
      "name": "Vector model kb",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        320
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "issues"
        }
      },
      "id": "51dd5129-153d-4e0a-aabd-1e207d43aea0",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        740,
        1140
      ],
      "credentials": {
        "pineconeApi": {
          "id": "8lDKmR3gvMj1szqg",
          "name": "Pinecone"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      },
      "id": "76ca5258-6c53-4293-adf1-f995a98af1e8",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2900,
        880
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text",
              "renameField": true,
              "outputFieldName": "attachments"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "0c282b7d-b4dd-4629-8e46-035a71e32174",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2680,
        880
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function extractText(text) {\n    // Remove specific JSON structures and unwanted fragments\n    let cleanedText = text\n        // Remove image placeholders\n        .replace(/!image001\\.png\\|thumbnail!{adf}>/g, '')\n        // Remove specific JSON structures\n        .replace(/{\"type\":\"(?:expand|paragraph|table)\",\"content\":\\[(?:\\{\"type\":\"(?:text|tableRow|tableCell|hardBreak)\",\"text\":\"[^\"]*\"\\},?)*\\]\\},?/g, '')\n        // Remove HTML tags\n        .replace(/<\\/?[^>]+(>|$)/g, '')\n        // Remove excessive whitespace\n        .replace(/\\n+/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .replace(/[-_]{3,}/g, ' ')\n        .trim();\n    return cleanedText;\n}\n\nreturn {     \n    json: { \n        \"data\": [ \n            {                \n                id: $json.key,         \n                pageContent: ($json.fields.summary ? $json.key + ': ' + $json.fields.summary : '') + \n                             ($json.fields.description ? ', ' + extractText($json.fields.description) : '') + \n                             ($json.attachments && $json.attachments.length > 0 ? ', ' + $json.attachments.join('\\n') : ''),\n                comments: ($json.comments && $json.comments.length > 0 ? ', ' + extractText($json.comments.join('\\n')) : ''), \n                metadata: {             \n                    id: $json.key,             \n                    issuekey: $json.key,             \n                    abstract: ($json.message && $json.message.content && $json.message.content.abstract ? $json.message.content.abstract : ''),             \n                    status: $json.fields.status.name,             \n                    reporter: {                 \n                        name: $json.fields.reporter.displayName,                 \n                        email: $json.fields.reporter.emailAddress             \n                    }         \n                }     \n            }                     \n        ] \n    } \n};\n\n\n"
      },
      "id": "f7cfcc98-cff6-4610-906a-8b42c8069077",
      "name": "Vector model ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        1140
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "key",
              "field2": "metadata.issuekey"
            }
          ]
        },
        "options": {
          "multipleMatches": "first"
        }
      },
      "id": "098281d5-ad5d-465f-ae3a-1c39c8c08ec1",
      "name": "Indexed successfully",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1180,
        160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "4ae37828-266d-45a2-8fb6-82c2612dcea4",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1460,
        860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8d02fb22-7c39-4ec4-b7de-19d8f8e0ef76",
              "leftValue": "={{ $json.renderedBody }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ceb5200c-e36a-4d6f-99a8-5b054e4ba024",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3180,
        1740
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "kb"
        }
      },
      "id": "c382b03e-d38b-47a0-9a92-3edd03b1c11e",
      "name": "Pinecone Vector Store3",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        520,
        320
      ],
      "credentials": {
        "pineconeApi": {
          "id": "8lDKmR3gvMj1szqg",
          "name": "Pinecone"
        }
      }
    },
    {
      "parameters": {
        "resource": "issueAttachment",
        "operation": "getAll",
        "issueKey": "={{ $json.key }}",
        "returnAll": true,
        "download": true
      },
      "id": "0fc0724d-69b3-4c3d-a562-64410f5d2b77",
      "name": "Issue attachments",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -3120,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "HlsaLdc6YFfeasWO",
          "name": "Jira christian.gick@clicksports.de"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "issueComment",
        "operation": "getAll",
        "issueKey": "={{ $json.key }}",
        "returnAll": true,
        "options": {
          "expand": "renderedBody"
        }
      },
      "id": "3bd11624-7940-40ba-98e3-d5644cea9de8",
      "name": "Issue comments",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -3400,
        1740
      ],
      "alwaysOutputData": true,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "HlsaLdc6YFfeasWO",
          "name": "Jira christian.gick@clicksports.de"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Verwende Normalisierung und Lemmatisierung um unnötige Tags, Trennzeichen und Satzzeichen zu entfernen. Das Ergebnis soll optimal sein um später für Pinecone vektorisiert zu werden. Keine Kommentare von dir. Kein HTML, nur reiner Text. Aus der Signatur musst du nur den Firmennamen, die Rolle / Position des Senders, sowie die Telefonnummern und Mailadresse berücksichtigen. Eine Variable (abstract) zurückgeben nach dem Schema Von Absendername: Textkörper. Sender und message sollen nicht getrennt werden. \n\nGib zusätzlich eine zweite Variable zurück (knowledgebase) die aus dem Inhalt nur das übernimmt was öffentlich im Internet stehen darf und geeignet ist und auch für andere Kunden und Partner unseres Unternehmens relevant sein könnte. Es dürfen keinerlei Namen, personenbezogene Daten gespeichert werden oder solche, die auf das jeweilige Projekt oder die Firma unserer Kunden schließen lassen.\n\nDas ist die ursprüngliche Nachricht:\n{{ $json.fields.description }}\n\nUnd das hier sind alle Kommentare zwischen Sender und unserer Firma:\n{{ $json.comments.join(', ') }}",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "presence_penalty": 1
        }
      },
      "id": "3ccfd7e2-ec56-4628-a7f9-3d16cb4e1478",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -480,
        440
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    }
  ],
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Get issues to index": {
      "main": [
        [
          {
            "node": "Indexed successfully",
            "type": "main",
            "index": 0
          },
          {
            "node": "Issue attachments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Issue comments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match author with comments": {
      "main": [
        [
          {
            "node": "Aggregate raw comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split comments": {
      "main": [
        [
          {
            "node": "Aggregate clean comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate raw comments": {
      "main": [
        [
          {
            "node": "Split comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Vector model ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get issues to index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Vector model kb": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Indexed successfully",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate clean comments": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Vector model ticket": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indexed successfully": {
      "main": [
        [
          {
            "node": "Set index timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Match author with comments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Issue attachments": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue comments": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vector model kb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oXwbRnZHgYHUkKj4"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "510a7442-f52f-472d-b14a-bb2931a6127d",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-07-19T11:41:10.307Z",
      "updatedAt": "2024-07-19T11:41:10.307Z",
      "id": "KjOZ3fk6ysEni7CZ",
      "name": "jira"
    },
    {
      "createdAt": "2024-07-19T11:38:21.497Z",
      "updatedAt": "2024-07-19T11:38:21.497Z",
      "id": "R3f6NQ4V2TDyb09j",
      "name": "openai"
    },
    {
      "createdAt": "2024-07-19T11:40:04.689Z",
      "updatedAt": "2024-07-19T11:40:04.689Z",
      "id": "wNSc3sQpRZI8CPoy",
      "name": "pinecone"
    }
  ]
}