workflows/weBWjVFPDtzIGy4x.json
{
  "createdAt": "2024-07-18T13:55:22.365Z",
  "updatedAt": "2024-07-18T13:57:26.000Z",
  "id": "weBWjVFPDtzIGy4x",
  "name": "Send WhatsApp message to Jira",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://whatsapp-connector-for-jira.azurewebsites.net/wcfj/twillo/twillo_webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-twilio-signature",
              "value": "={{ $json.headers['x-twilio-signature'] }}"
            },
            {
              "name": "x-real-ip",
              "value": "={{ $json.headers['x-real-ip'] }}"
            },
            {
              "name": "i-twilio-idempotency-token",
              "value": "={{ $json.headers['i-twilio-idempotency-token'] }}"
            },
            {
              "name": "x-is-trusted",
              "value": "={{ $json.headers['x-is-trusted'] }}"
            },
            {
              "name": "x-forwarded-for",
              "value": "={{ $json.headers['x-forwarded-for'] }}"
            },
            {
              "name": "content-type",
              "value": "={{ $json.headers['content-type'] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "SmsMessageSid",
              "value": "={{ $json.body.SmsMessageSid }}"
            },
            {
              "name": "ProfileName",
              "value": "={{ $json.body.ProfileName }}"
            },
            {
              "name": "MessageType",
              "value": "={{ $json.body.MessageType }}"
            },
            {
              "name": "SmsSid",
              "value": "={{ $json.body.SmsSid }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.body.Body }}"
            },
            {
              "name": "To",
              "value": "={{ $json.body.To }}"
            },
            {
              "name": "NumSegments",
              "value": "={{ $json.body.NumSegments }}"
            },
            {
              "name": "ReferralNumMedia",
              "value": "={{ $json.body.ReferralNumMedia }}"
            },
            {
              "name": "MessageSid",
              "value": "={{ $json.body.MessageSid }}"
            },
            {
              "name": "AccountSid",
              "value": "={{ $json.body.AccountSid }}"
            },
            {
              "name": "From",
              "value": "={{ $json.body.From }}"
            },
            {
              "name": "ApiVersion",
              "value": "={{ $json.body.ApiVersion }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "424bd9ed-cbe0-4f6b-afc2-a25f83ebb2cf",
      "name": "Send to Jira Plugin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        240
      ],
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "fields.summary",
              "field2": "body.Body"
            }
          ]
        },
        "options": {}
      },
      "id": "429a480c-fed5-4638-8924-efc87b277fb2",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1100,
        380
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "c487bc4c-641e-481b-b0d8-1574147ac6cd",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        600,
        240
      ],
      "webhookId": "fa417458-6563-4c45-99d1-d2f6a247bdc4"
    },
    {
      "parameters": {
        "errorMessage": "No issue created"
      },
      "id": "9f8b39a6-14ef-4b6e-9a6e-dda54b466ca9",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1600,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c862ba54-0e12-4ed4-b006-7969b3f07c45",
      "name": "Respond to Twilio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1600,
        260
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "options": {
          "jql": "=creator = 6141defd805a97006ab366e3 and cf[14762] ~ '+{{ $('Twilio').item.json.body.WaId }}' and resolution is empty"
        }
      },
      "id": "71c13cf5-32aa-4a82-b0f1-13b63b85d0a2",
      "name": "Find created issue",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        800,
        240
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "HlsaLdc6YFfeasWO",
          "name": "Jira christian.gick@clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "275fd692-0dc8-4626-87af-73ba880a8d47",
              "leftValue": "={{ $json.key }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "da2024d7-ad29-46fa-ae17-f35a511ce2cd",
      "name": "If issuekey is found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        380
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3d71ea7f-695b-4fe8-a75f-00e4f022976c",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "4c188bd9-99b3-46cf-95d8-0646519670a3",
      "name": "Twilio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        60,
        400
      ],
      "webhookId": "3d71ea7f-695b-4fe8-a75f-00e4f022976c"
    }
  ],
  "connections": {
    "Send to Jira Plugin": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Find created issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If issuekey is found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find created issue": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If issuekey is found": {
      "main": [
        [
          {
            "node": "Respond to Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio": {
      "main": [
        [
          {
            "node": "Send to Jira Plugin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oXwbRnZHgYHUkKj4"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0ada4b19-5d37-4a23-b1b9-7b0327398323",
  "triggerCount": 1,
  "tags": []
}