workflows/YDKcUujj3g5ZAtTF.json
{
  "createdAt": "2024-07-18T13:59:19.426Z",
  "updatedAt": "2024-08-04T03:01:42.000Z",
  "id": "YDKcUujj3g5ZAtTF",
  "name": "Get all active SSL certs from WHMCS that expire within 30 days",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "59d48b14-4029-48e3-89c2-ba9b9d3b1794",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://www.clicksports.de/portal/includes/api.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "GetClientsProducts"
            },
            {
              "name": "identifier",
              "value": "4g7HgFCWTHCLdM6H063BSf4fnysdkNVr"
            },
            {
              "name": "secret",
              "value": "GyxPdvhCxDnFr6egS7ac9o2CNczruX3g"
            },
            {
              "name": "responsetype",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "f174524b-a5d5-4c4e-870a-04777c624ceb",
      "name": "GetClientsProducts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "products.product",
        "options": {}
      },
      "id": "8717b685-e920-4bba-99a7-992a8549735e",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e3b06bcc-66a8-4063-bbaa-61b1f9236c09",
              "leftValue": "={{ $json.pid }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "52f32da7-a92b-4465-ba28-f681fc6830a3",
              "leftValue": "={{ $json.pid }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "59440e52-72e2-417f-ba03-6374c5c58361",
      "name": "Filter SSL Start and Wildcard",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        860,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e33d1be5-59ed-4995-9c83-5f55878b910e",
              "leftValue": "={{ $json.nextduedate.toDateTime().format('y-MM-d') }}",
              "rightValue": "={{ $today.plus({days: 29}).format('y-MM-d') }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            },
            {
              "id": "54006af1-6eff-4077-9b2e-e3043c1d14ee",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2370ab54-fbe6-4e5a-8dac-7f3abe7df530",
      "name": "Filter active and due",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1060,
        460
      ]
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "12700",
          "mode": "list",
          "cachedResultName": "Service"
        },
        "issueType": {
          "__rl": true,
          "value": "12401",
          "mode": "list",
          "cachedResultName": "Ticket"
        },
        "summary": "=Verlängerung {{ $json.translated_name }} {{ $json.domain }}",
        "additionalFields": {
          "assignee": {
            "__rl": true,
            "value": "5eba311706a3eb0b7e415e2c",
            "mode": "list",
            "cachedResultName": "Christian Gick"
          },
          "description": "=https://www.clicksports.de/portal/admin/clientsservices.php?productselect={{ $json.id }}",
          "parentIssueKey": "86887"
        }
      },
      "id": "c9691a25-29f1-48de-852a-eab503c9f87d",
      "name": "Create issue",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        1340,
        460
      ],
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "HlsaLdc6YFfeasWO",
          "name": "Jira christian.gick@clicksports.de"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "Lzw399ANe04HZ6wK",
        "mode": "each",
        "options": {}
      },
      "id": "84166417-31ce-4e37-b905-e38052c0d29f",
      "name": "Validation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1540,
        700
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://www.clicksports.de/portal/includes/api.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "ModuleCustom"
            },
            {
              "name": "responsetype",
              "value": "json"
            },
            {
              "name": "func_name",
              "value": "renew"
            },
            {
              "name": "serviceid",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b0dc9337-6e45-46e0-b593-8abacac551de",
      "name": "Renew in WHMCS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        700
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "aD4Z71wqUYZUL79C",
          "name": "WHMCS"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GetClientsProducts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetClientsProducts": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter SSL Start and Wildcard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter SSL Start and Wildcard": {
      "main": [
        [
          {
            "node": "Filter active and due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter active and due": {
      "main": [
        [
          {
            "node": "Renew in WHMCS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renew in WHMCS": {
      "main": [
        [
          {
            "node": "Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oXwbRnZHgYHUkKj4"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [],
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4ee47fbd-d4a8-4876-b260-3d904495f444",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-07-18T13:44:20.701Z",
      "updatedAt": "2024-07-18T13:44:20.701Z",
      "id": "eg0pjrYy9dLUUASF",
      "name": "ssl"
    },
    {
      "createdAt": "2024-07-18T13:44:20.706Z",
      "updatedAt": "2024-07-18T13:44:20.706Z",
      "id": "wtXD0GeIgYeLUCv8",
      "name": "whmcs"
    }
  ]
}