workflows/YWdyJSBjg4hoa4gx.json
{
  "createdAt": "2024-07-24T12:41:03.383Z",
  "updatedAt": "2024-09-23T12:46:17.350Z",
  "id": "YWdyJSBjg4hoa4gx",
  "name": "Private chat",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "924c77a5-8cab-4acd-8d55-d75c3493b9a1",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmOpenAi",
      "typeVersion": 1,
      "position": [
        -2840,
        2220
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "0af8d4f9-d6dc-43be-a2e6-d2cb81c8412c",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -3200,
        2440
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.4
        }
      },
      "id": "b5a8deba-5cca-4dbd-a8e1-39516a14c682",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -4260,
        2020
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "content": "https://github.com/n8n-io/n8n/pull/9865"
      },
      "id": "6b88b2ba-8227-4e5d-94c3-7eed1f9c2e81",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4340,
        1640
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 100
      },
      "id": "41228c16-d51a-46cf-ab27-3057c0225012",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -4120,
        2020
      ]
    },
    {
      "parameters": {},
      "id": "55972d71-b228-4a91-b0fa-4b48f35a384e",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -3960,
        2020
      ],
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "d583c0e1-63fb-48dc-a653-3d7600c41f69",
      "name": "OpenAI Model1",
      "type": "@n8n/n8n-nodes-langchain.lmOpenAi",
      "typeVersion": 1,
      "position": [
        -3580,
        2380
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "c830160b-2d50-4a8b-a560-e4d274980e1d",
      "name": "Embeddings OpenAI5",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -4080,
        2560
      ],
      "credentials": {
        "openAiApi": {
          "id": "y8NvNd30QFsYf7Hw",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "name": "Jira",
        "description": "Customer dialogs, current and past issues and frequently asked questions",
        "topK": 200
      },
      "id": "b61acd8d-f710-4b94-8658-04f420b70799",
      "name": "Jira tickets",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -3780,
        2160
      ]
    },
    {
      "parameters": {
        "name": "WordPress",
        "description": "Public content on www.clicksports.de with products, portfolio, pricing and domains",
        "topK": 200
      },
      "id": "4ab583d8-e8d4-4886-bd33-102e44519dd1",
      "name": "WordPress content",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -3040,
        2020
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "927bf865-11d0-46a3-870a-522f5cc0c8f7",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        -4110,
        1380
      ],
      "webhookId": "df61b415-b26c-49d0-997c-74c0102fb798"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "wp",
          "mode": "id"
        },
        "options": {}
      },
      "id": "bab61045-1924-40ef-8074-eb0f41ddc2bd",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        -3140,
        2240
      ],
      "credentials": {
        "qdrantApi": {
          "id": "EF7g7Gu0GqFf23bE",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Du bist ein freundlicher und hilfsbereiter Chatbot. In der angeschlossenen Vektordatenbank findest du Tickets und Vorgänge von Themen die wir bereits bearbeitet und gelöst haben. ",
          "returnIntermediateSteps": true
        }
      },
      "id": "d7c5f770-1a94-4bb9-a9fb-3898d6d3129e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -3800,
        1640
      ]
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "issues",
          "mode": "list",
          "cachedResultName": "issues"
        },
        "options": {}
      },
      "id": "fe81af7d-bd26-4573-b1f6-301c1e6f549f",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        -4020,
        2340
      ],
      "credentials": {
        "qdrantApi": {
          "id": "EF7g7Gu0GqFf23bE",
          "name": "QdrantApi account"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "WordPress content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Jira tickets",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Jira tickets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WordPress content": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI5": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "WordPress content",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Jira tickets",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "oXwbRnZHgYHUkKj4"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "829b5590-8100-4fd2-8ecb-7cb4783dbff3",
  "triggerCount": 2,
  "tags": [
    {
      "createdAt": "2024-07-19T11:38:21.497Z",
      "updatedAt": "2024-07-19T11:38:21.497Z",
      "id": "R3f6NQ4V2TDyb09j",
      "name": "openai"
    },
    {
      "createdAt": "2024-07-18T11:59:49.236Z",
      "updatedAt": "2024-07-18T11:59:49.236Z",
      "id": "pp35M0Su309OL8L3",
      "name": "rag"
    },
    {
      "createdAt": "2024-09-23T12:45:52.025Z",
      "updatedAt": "2024-09-23T12:45:52.025Z",
      "id": "kc4ZjqkDUkLQSaff",
      "name": "qdrant"
    }
  ]
}